<center>
  <br>
  <br>
  <br>
  <br>
  <form method="POST" action="">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Name" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="number" name="amount" placeholder="Amount" required>
    <button type="submit">Pay</button>
</form>

  <br>
  <br>
  <br>


<form action="{% url 'create_checkout_session' %}" method="POST">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <br>

    <label for="card-element">Credit or debit card:</label>
    <div id="card-element">
      <!-- Stripe card element will be inserted here -->
   
    </div>
    <br>
  
    <br>

    <button type="submit" id="pay-button">Pay Now</button>
  </form>
  <br>
  <br>
  <br>
  <br>

  <script src="https://js.stripe.com/v3/"></script>
<script>
  var stripe = Stripe('{{ STRIPE_PUBLISHABLE_KEY }}');
  var elements = stripe.elements();
  var cardElement = elements.create('card');
  cardElement.mount('#card-element');
</script>


<form action="" method="POST">


  <label for="amount">Amount:</label>
  <input type="text" id="amount" name="amount" required>
  <button type="submit">Pay</button>
</form>



<br>
<h1>Choose a Subscription Plan</h1>
<form method="POST" action="create_checkout_session"> 
  {% csrf_token %}
  <label for="plan">Select a plan:</label>
  <select id="plan" name="plan">
    {% for plan in plans %}
      <option value="{{ plan.id }}">{{ plan.nickname }} - {{ plan.amount }} / {{ plan.interval }}</option>
    {% endfor %}
  </select>
  <button type="submit">Subscribe</button>
</form>
<br>


<!-- subscribe.html -->
<form action="{% url 'create_checkout_session' %}" method="post">
  {% csrf_token %}
  <div>
      <label for="plan">Subscription Plan:</label>
      <select name="plan" id="plan">
          <option value="{{ three_month_plan_id }}">3 Month Subscription (${{ three_month_plan_price }}/month)</option>
          <option value="{{ six_month_plan_id }}">6 Month Subscription (${{ six_month_plan_price }}/month)</option>
          <option value="{{ yearly_plan_id }}">Yearly Subscription (${{ yearly_plan_price }}/month)</option>
      </select>
  </div>
  <button type="submit">Subscribe</button>
</form>