<!DOCTYPE html>
<html lang="en">
<head>

     <title>Known - Education HTML Template</title>
<!-- 

Known Template 

https://templatemo.com/tm-516-known

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="static/css/bootstrap.min.css">
     <link rel="stylesheet" href="static/css/font-awesome.min.css">
     <link rel="stylesheet" href="static/css/owl.carousel.css">
     <link rel="stylesheet" href="static/css/owl.theme.default.min.css">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="static/css/templatemo-style.css">
<!-- Meta tags -->
<meta charset = "utf-8">
<meta name = "viewport" content = "width = device-width, initial-scale = 1, shrink-to-fit = no">
 

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- PRE LOADER -->
     {% comment %} <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section> {% endcomment %}


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>
               </div>
                    <!-- lOGO TEXT HERE -->
                    <br>
                    <div class="navbar-brand">
                    <a href="#"><img src="static/images/kkda-logo.png" alt="" class="navbar-brand"></a>
               
               </div>
               <!-- <a href="index.html"><img src="images/kkda-logo.png" alt="" class="navbar-brand"></a> -->

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="#top" class="smoothScroll">Home</a></li>
                         
               </div>
          </div>
     </section>
     {% if messages %}
     {% for message in messages %}
     <div class = "alert alert-{{ message.tags }} alert-dismissible my-0 py-0">
          <button type = "button" class = "close" data-dismiss = "alert">×</button>
          <strong>Success!</strong> {{ message }}
       </div>
       {% endfor %}
       {% endif %}

   
     <section class="vh-80 bg-image"style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img1.webp');">
          
          <section id="Login">
               
               <div class="container">
               <div class="row">
                  
         <div class="col-md-offset-0 col-md-200 col-sm-50">
     <div class="mask d-flex align-items-center h-100 gradient-custom-3">
       <div class="container h-100">
         <div class="row d-flex justify-content-center align-items-center h-100">
           <div class="col-1 col-md-9 col-lg-7 col-xl-6">
             <div class="card" style="border-radius: 15px;">
               <div class="card-body p-5">
                 <h2 class="text-uppercase text-center mb-5">Create an account</h2>
                 <form action="register" method ="post">
                      {% csrf_token %}
                      <div class="form-outline mb-4">
                           <label class="form-label" for="form3Example1cg">User Name</label>
                           <input type="text" name="username" placeholder="username" class="form-control form-control-lg" required />
                   </div>
   
                   <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3cg">Your Email</label>
                        <input type="email" name="email" placeholder="Enter Email" id="form3Example3cg" class="form-control form-control-lg"  required />
                   </div>
   
                   <div class="form-outline mb-4">
                       <label class="form-label" for="form3Example4cg">Password</label>
                       <input type="password" name="password1" placeholder="Password" class="form-control form-control-lg" required />
                   </div>
                   
                   <div class="form-outline mb-4">
                       <label class="form-label" for="form3Example4cdg">Repeat your password</label>
                       <input type="password" name="password2" placeholder="Re-password"  class="form-control form-control-lg"required />
                   </div>
   
                   <div class="form-check d-flex justify-content-center mb-5">
                     <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" required/>
                     <label class="form-check-label" for="form2Example3g">
                          I agree all statements in <a href="home" class="text-body"><u>Terms of service</u></a>
                         </label>
                    </div>
                    <div class="d-flex justify-content-center">
                    <button type="register" class="registerbtn">Register</button>    
               </div>
               
                   <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="home"
                       class="fw-bold text-body"><u>Login here</u></a></p>
                    </form>
                    
               </div>
             </div>
          </div>
     </div>
</div>
     </div></section>
   </section>



   <script>
     if ( window.history.replaceState ) {
         window.history.replaceState( null, null, window.location.href );
     }
 </script>


</body>
<html>
